/* OTA YHTEYTTÄ -SIVU */

.referenssit {
  padding: 0px 30px 30px 30px;
}

.fab {
  margin-bottom: 30px;
}

i {
  font-size: 30px;
  margin-top: 15px;
}

a:after {
  content: none!important;
  margin: 0px 15px;
}

#tuire {
  max-width: 150px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  #tuire {
    display: block;
    margin: auto;
  }
}

@media (max-width: 768px) {
  main * {
    text-align: center;
  }
}
